// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~datatables.net-bs4/css/dataTables.bootstrap4.min.css";
@import "~jquery-ui/themes/base/datepicker.css";
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    background:#e94033!important;
    color:#fff!important;
    margin-top: -3px;

}
