
@import "../css/owl.carousel.min.css";
@import "../js/vendor/fancybox/jquery.fancybox.min.css";
@import '~@fortawesome/fontawesome-free/css/all.css';
@import "../css/font-electro.css";
@import "../css/theme.css";
@import "~animate.css/animate.min.css";
@import "../js/hs-megamenu/src/hs.megamenu.css";
@import "~malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css";
@import "~slick-carousel/slick/slick.css";
@import "~bootstrap-select/dist/css/bootstrap-select.css";
/* arabic */
@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Tajawal-Regular.woff2) format('woff2');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin */
@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Tajawal-Regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }

    // Box.
    & + label:before {
        content: '';
        margin-right: 10px;
        margin-left: 15px;
        display: inline-block;
        vertical-align: text-top;
        width: 16px;
        height: 16px;
        background: white;
        border:solid 1px #c3c3c3;
    }

    // Box hover
    &:hover + label:before {
        border:solid 1px #828282;
    }

    // Box focus
    &:focus + label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    // Box checked
    &:checked + label:before {
        background: #FBB03B;
        border:0;
    }

    // Disabled state label.
    &:disabled + label {
        color: #b8b8b8;
        cursor: auto;
    }

    // Disabled box.
    &:disabled + label:before {
        box-shadow: none;
        background: #ddd;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after {
        content: '';
        position: absolute;
        right: 18px;
        top: 8px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow:
            2px 0 0 white,
            4px 0 0 white,
            4px -2px 0 white,
            4px -4px 0 white,
            4px -6px 0 white,
            4px -8px 0 white;
        transform: rotate(45deg);
    }
}


.product-size-lable{
    margin-bottom:0.1rem;
    font-size:0.7rem;
}
.product-img{
    border-radius: 8px;
    overflow: hidden;
    width: 75%;
    max-height: 270px;
    margin-bottom: 20px;
}
.product-wrapper h4{
    font-size:0.8em;
}
.product-content{
    width:75%;
}
.product-price{
    font-size:0.6em;
    color: #868686;
}
.btn-abaya{
    border-color: #b6b6b6;
    color:#000;
    font-size:0.5em;
}
.modal-header .close{
    margin: -1rem auto -1rem -1rem;
}
.form-control{
    height:35px;
    border-radius: 20px;
    padding:10px!important;
    font-size:0.6rem;
}
.abs-header{
    position: absolute;
    z-index: 2;

}
.header-bar{
    background:none;
}
.tajawal{
    font-family: Tajawal!important;
}
.slider-active .owl-nav div {
    color: #494949;
    font-size: 35px;
    left: 50px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
    visibility: hidden;
}
.slider-active .owl-nav div.owl-next {
    left: auto;
    right: 50px;
}
.slider-active .owl-nav div:hover {
    color: #f3a395;
}
.slider-active:hover .owl-nav div {
    opacity: 1;
    visibility: visible;
}
.nav-item a{
    color:#000;
    text-decoration:none;
    font-size:0.8rem;
}
.owl-dots{
    display:none;
}
.owl-nav{
    position: absolute;
    z-index: 2;
    bottom: 50px;
    left: 50px;
}
button:focus{
    outline:none;
}
.owl-next{
    margin-left:15px;
}
.owl-prev:hover,.owl-next:hover{
    background: rgba(255, 255, 255, 0.96);
}
.owl-prev,.owl-next{
    width: 50px;
    height: 50px;
    border: 0;
    background: #ffffffb0;
    line-height: 60px;
    outline:none;
}
.top-icons a {
    margin-left:2em;
    color:#000;
    position:relative;
}
.top-icons i{
    position:relative;
}
//.top-icons a:before{
//    content:'';
//    padding:20px;
//    background:#fff;
//    border-radius: 100%;
//    position:absolute;
//    transform: scale(0);
//    top:0;
//    left:0;
//}
//.top-icons a:hover:before{
//    transform: scale(1);
//}
.products-bar{
    background:#171717;
    text-align:center;
}
.products-bar-item{
    height:100px;
    width:10%;
    opacity:0.5;
}

.products-bar-item:hover{
    opacity:1;
}

.products-bar-items{
    display:flex;
    justify-content: space-between;
}
.products-bar-title{
    color:#fff;
    font-size: 11px;
    text-decoration : none;
}

.slider-area {
    position: relative;
    direction:ltr;
}

.single-slider{
    background-repeat: no-repeat;
    background-position: center;
    height:600px;
    background-size:100%;
}

.slider-single-img {
    overflow: hidden;
}
.slider-single-img > img {
    float: right;
    max-width: 100%;
    padding-left: 60px;
}

.ballon{
    background:#57900B;
    padding:10px 15px;
    border-radius: 10px;
    margin-top:20px;
    position:relative;
    display:inline-block;
    color:#fff;
    font-weight:300;
    font-size:36px;
    font-family: "Shabnam-Light", "Shabnam Light";
    -webkit-box-shadow: 10px 10px 42px -6px rgba(0,0,0,0.77);
    -moz-box-shadow: 10px 10px 42px -6px rgba(0,0,0,0.77);
    box-shadow: 10px 10px 42px -6px rgba(0,0,0,0.77);
}

.ballon:after{
    content: "";
    display: block;
    right: 20px;
    position: absolute;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 13px solid #57900B;
}
.ballon-caption{
    font-size:2.5em;
    color:#fff;
}
a{
    text-decoration: none;
}

.the-circle{
    width:100px;
    height:100px;
    border-radius: 100%;
    background: rgb(87,144,11);
    background: linear-gradient(213deg, rgba(87,144,11,1) 0%, rgba(60,102,3,1) 100%);
    z-index:9999;
    position:absolute;
    top:0;
    left:0;
}

.product-details-area{
    height:100%;
    overflow-y:scroll;
}

.product-details-tab.mr-40 {
    margin-right: 0px;
}
.product-details-img-content .easyzoom {
    display: block;
}
.product-details-content {
    margin-top: 30px;
}
.quickview-btn-cart {
    margin: 0 10px;
}
.quickview-btn-cart > a {
    padding: 14px 10px;
}
.product-categories li,
.product-details-tags li {
    margin-bottom: 8px;
}
.product-details .easyzoom {
    display: block;
}
.product-details.pr-40 {
    padding-right: 0;
}

.slider-caption{
    position:absolute;
    bottom:10%;
    right:10%;
    text-align:right;
}

.slider-curtain{
    position:absolute;
    z-index:999;
    background: rgb(0,0,0);
    background: linear-gradient(337deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    width:100%;
    height: 100%;
    left:0;
    top:0;

}


.desc-box{
    background:#fff;
    border-radius: 10px;
    text-align: center;
    min-height: 250px;
    padding:10px;
    padding-top:20px;
}

.desc-box p{
    color:#6C6C6C;
    font-size:11px;
    line-height:25px;
    margin-top:30px;
    text-align:right;
}
.btn-white{
    background: rgba(255, 255, 255, 0.9);
    font-size:0.6em;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
}
.btn-white:hover{
    background: rgba(255, 255, 255);
}
.btn-rounded{
    border-radius:30px;
}
.index-category-caption{
    position: absolute;
    bottom: 20px;
    direction: rtl;
    left: 0;
    padding: 0 20px;
}
.item-box{
    min-height:210px;
    width:100%;
    padding:20px;
    background:#fff;
    color:#fff;
    text-align:center;
    border-radius:5px;
}
.item-box.green{
    background: #94C709;
    color:#fff;
}

a{
    color: #4e4e4e;
    text-decoration:none;
}
a:hover{
    color: #0d0d0d;
}
.copyright{
    padding:10px;
    color:#AEAEAE;
    font-size:11px;
    text-align:center;
}

footer ul li{
    list-style:none;
    font-size:11px;
    padding: 5px 0px;
}
footer ul{
    margin-top:20px;
}

.line-img{
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.big-circle-bg{
    background: rgba(255, 255, 255, 0.14);
    border-radius: 100%;
    width:400px;
    height:400px;
    position: relative;
    margin: 0 auto;
    text-align:center;
}

.img-wrapper{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.add-to-cart-wrapper button{
    background: transparent;
    border: solid 1px #ffffff73;
    border-radius: 5px;
    color: #fff;
    padding: 5px 30px;
    font-size: 32px;
}

.add-to-cart-wrapper{
    position: relative;
    opacity:0;
}

.title-wrapper{
    top: 100px;
    position: absolute;
    opacity:0;
    color:#fff;
}
.title-wrapper h2{
    font-size:3.5em;
}
.title-wrapper p{
    font-size:1.5em;
}
#menu{
    position:absolute;
    z-index:999999999;
    width:100px;
    height:100vh;
    top: 0;
    left: 0;
    overflow-y:scroll;
    display:none;
}
#menu a{
    color:#000;
    font-size:9px;
}
#menu p{
    text-align:center;
}
#menu li{
    list-style: none;
    border-bottom:solid 1px rgba(0, 0, 0, 0.19);
    margin-bottom:5px;
    opacity:0.2;
}
#menu li.active{
    opacity:1;
}
.shopping-bag{
    position:relative;
}
.shopping-bag-badge{
    position: absolute;
    width: 20px;
    height: 20px;
    background: red;
    text-align: center;
    left: -10px;
    bottom: -20px;
    border-radius: 100%;
    color: #fff;
    font-size: 11px;
    line-height: 22px;

}
.product-top-menu{
    position:absolute;
    top:0;
    right:0;
    z-index:9999;
}
.was-validated .form-control:invalid, .form-control.is-invalid{
    background-position:left calc(0.375em + 0.1875rem) center;
}
.btn-facebook{
    background: #3B5998;
    border-radius: 30px;
    padding: 10px 30px;
    color: #fff;
    height: 42px;
    display: flex;
    align-items: center;
    direction: ltr;
    justify-content: center;
}
.btn-facebook:hover{
    text-decoration: none;
    color:#fff;
    background: #36518b;
}
.btn-google{
    border:solid 1px #F1584D;
     background: transparent;
     border-radius: 30px;
     padding: 10px 30px;
     color:#000;
    height: 42px;
    display: flex;
    align-items: center;
    direction: ltr;
    justify-content: center;
 }
.close-page{
    width: 50px;
    height: 50px;
    text-align: center;
    padding:10px;
    background:#fff;
}
.btn-orange{
    background: #FBB03B;
    border-radius: 30px;
    border:0;
    color:#000;
    outline:none;
    font-size:0.8rem;
    padding:15px;
}
.btn-orange:hover{
    background: #c88c2f;
    color:#000;
}
.login-img{
    -webkit-box-shadow: 0 0 12px 2px rgb(0 0 0 / 10%);
    box-shadow: 0 0 12px 2px rgb(0 0 0 / 10%);
    height:100vh;
    background-size: auto 100% ;
    background-position: 50%;
    background-repeat:no-repeat;
}

.product-count-btn{
    cursor:pointer;
}
.form-check-input{
    margin-right: -1.25rem;
    margin-left:auto;
}
.dropdown-toggle::after{
    margin-left:1rem;
}